    <h5>Angular bootstrap card assignment-six</h5>
    <div class="container">
      <div class="d-flex">
        <div class="row row-cols-3 g-4">
          <div *ngFor = "let product of products">  
            <div class="card shadow-lg text-dark bg-light border-dark" style="width: 25rem;">
              <img src = {{product.productImg}} class="card-img-top" style="width: 350px; height: 250px">
              <h6 class="text-center">{{product.productId}}</h6>
              <h6 class="text-center">{{product.productName}}</h6>
              <h6 class="text-center">Price : {{product.productPrice}}</h6>
              <p>{{product.productDesc}}</p>
              </div>
        </div>
      </div>
    </div>
 